.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: all ease 0.2s;

  &:hover {
    transition: all ease 0.2s;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  }
  .card-image {
    height: 260px;
    overflow: hidden;
  }
  .card-body {
    padding: 1rem;
    h3 {
      margin-bottom: 0.5rem;
      line-height: normal;
    }
  }
}
