<div class="context-menu">
  <div class="passive">
    <header class="page-header">
      <h2>Product</h2>
    </header>
    <div class="route-search-box">
      <i class="bi bi-search"></i>
      <input
        type="search"
        name="search"
        autocomplete="off"
        placeholder="Search Product..."
      />
    </div>
  </div>

  <div class="action">
    <button class="btn btn-primary me-2" (click)="openProdAdd()">
      <i class="bi bi-plus-lg"></i>
      Create Product
    </button>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let prod of products">
      <app-product-card [data]="prod"></app-product-card>
    </div>
  </div>
</div>
