<header class="dialog-header">
  <div class="dialog-title">Update Stock</div>
  <button mat-icon-button mat-dialog-close><i class="bi bi-x"></i></button>
</header>

<div class="dialog-body">
  <form [formGroup]="pForm" (ngSubmit)="handleSubmit()">
    <fieldset>
      <legend>Inventory</legend>
      <div class="form-group">
        <label for="">Vendor</label>

        <app-search-box
          [inputProps]="{
            name: 'vendorSearch',
            placeholder: 'Search / Select Vendor',
            required: true
          }"
          [service]="vendorService"
          [searchKey]="'name'"
          (onItemSelected)="handleVendorSelected($event)"
        ></app-search-box>
      </div>
      <div class="form-group" *ngIf="pForm.controls.vendorId.value">
        <label for="">Batch</label>

        <app-search-box
          [inputProps]="{
            name: 'batchSearch',
            placeholder: 'Select Batch',
            required: true
          }"
          [searchable]="false"
          [dropdownItems]="batches"
          [showDropdownIcon]="true"
          [searchKey]="'name'"
          (onItemSelected)="handleVendorSelected($event)"
        ></app-search-box>
      </div>
      <div class="form-group">
        <label for="">Catalog </label>
        <app-search-box
          [inputProps]="{
            name: 'catalogSearch',
            placeholder: 'Search / Select Catalog',
            required: true
          }"
          [service]="catalogService"
          [searchKey]="'name'"
          [showDropdownIcon]="true"
          (onItemSelected)="handleCatalogSelected($event)"
        ></app-search-box>
      </div>
      <div class="form-group">
        <label for="">Product</label>
        <app-search-box
          [inputProps]="{
            placeholder: 'Search / Select name of Product',
            required: true,
            name: 'searchProduct'
          }"
          [searchKey]="'name'"
          [service]="productService"
          (onItemSelected)="handleProductSelected($event)"
        ></app-search-box>
      </div>
    </fieldset>

    <fieldset>
      <legend>Stock</legend>
      <div class="form-group">
        <input
          type="number"
          autocomplete="off"
          [min]="1"
          class="form-control"
          formControlName="stock"
          placeholder="Number of products"
          name="stock"
        />
      </div>
    </fieldset>

    <fieldset>
      <legend>Pricing</legend>
      <div class="row form-item-group">
        <div class="form-group">
          <label for="">Sale Price (₹)</label>
          <input
            type="number"
            autocomplete="off"
            class="form-control"
            [min]="1"
            formControlName="salePrice"
            placeholder="Enter sale price"
            name="salePrice"
          />
        </div>

        <div class="form-group">
          <label for="">Actual Price (₹)</label>
          <input
            type="number"
            autocomplete="off"
            [min]="1"
            class="form-control"
            formControlName="actualPrice"
            placeholder="Enter actual price"
            name="actualPrice"
          />
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Additional Charges</legend>

      <ng-container formGroupName="addCharges">
        <div class="additionalCharge" formArrayName="charges">
          <ng-container
            *ngFor="let alias of additionalCharges.controls; let i = index"
          >
            <div class="row d-row" [formGroupName]="i">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="text"
                  class="form-control"
                  placeholder="Text"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  formControlName="value"
                  class="form-control"
                  placeholder="Value"
                />
              </div>
              <div class="form-group">
                <select
                  name="valueType"
                  formControlName="valueType"
                  id=""
                  class="form-control me-2"
                >
                  <option value="Percentage">Percentage</option>
                  <option value="Value">Value</option>
                </select>
                <button class="rounded-btn" (click)="removeCharges(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </ng-container>

          <button mat-stroked-button (click)="addMoreCharges()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </ng-container>
    </fieldset>

    <!-- <div class="form-group" formGroupName="parentProduct">
      <mat-slide-toggle
        (toggleChange)="handleToggle()"
        formControlName="addParentProduct"
        >Add Parent Product</mat-slide-toggle
      >
    </div>

    <div class="form-group" *ngIf="isVariant">
      <app-search-box
        [inputProps]="{
          placeholder: 'Search / Select Parent Product',
          name: 'parentProduct',
          required: false
        }"
        [service]="productService"
        [searchKey]="'name'"
        (onItemSelected)="handleProductSelected($event)"
      >
      </app-search-box>
    </div> -->

    <!-- {{ pForm.value | json }} -->

    <div class="dialog-footer">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
