<p>
  side-panel-default works! Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Odit nam nisi laboriosam fugiat consequatur? Ipsum vel beatae at
  doloribus? Dolorem neque mollitia officia, eum repudiandae quo minima officiis
  possimus eaque in quis voluptate eos odio tenetur corporis a ea quam nobis
  facere? Laudantium maiores recusandae adipisci excepturi maxime molestiae
  doloremque dolorem, possimus hic asperiores enim doloribus expedita, mollitia
  repellendus amet labore soluta voluptates incidunt odit eligendi dolor facilis
  deserunt minus! Dolorem, nesciunt accusantium laudantium molestias aliquid
  adipisci nemo repellendus ipsam facere, cum ut deserunt repudiandae tempora
  placeat modi quas! Nisi vero animi dolorem facilis rerum sapiente nemo
  voluptas doloribus suscipit quasi mollitia nobis, quam ipsum dolores modi
  vitae fuga. Voluptatibus, eveniet ipsam dolorum dignissimos reprehenderit
  consequuntur. Placeat nisi tempore modi quidem veniam dolore? Obcaecati quos,
  nulla officiis itaque adipisci alias! Earum amet unde excepturi, dolor autem
  laborum quibusdam adipisci itaque harum. Modi ipsam natus incidunt quia atque
  libero quod inventore dolorum sed, qui voluptatem, eos sint dicta temporibus
  vero recusandae pariatur unde vel omnis ratione nulla adipisci debitis. Neque
  vitae unde odit dolorum, alias totam eveniet dolor repudiandae eius in qui
  magni voluptates minima possimus animi assumenda impedit eligendi ad sunt? Aut
  consequuntur magni nulla est alias at expedita esse.
</p>
