<div class="context-menu">
  <div class="passive">
    <header class="page-header">
      <h2>Catalog</h2>
    </header>
    <div class="route-search-box">
      <i class="bi bi-search"></i>
      <input
        type="search"
        autocomplete="off"
        name="search"
        #searchInput
        placeholder="Search Catalog.."
      />
    </div>
  </div>

  <div class="action">
    <button mat-flat-button color="accent" (click)="openCatalogAdd()">
      <i class="bi bi-plus"></i>
      Add New Catalog
    </button>
  </div>
</div>
<div class="main-content">
  <!-- <div class="grid-view">
    <app-catalog-card
      *ngFor="let catalog of catalogs"
      [catalog]="catalog"
    ></app-catalog-card>
  </div> -->

  <div class="table-container">
    <table>
      <thead>
        <th class="text-center" style="width: 3%">#</th>
        <th width="2%"></th>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center">Total Product</th>
        <th class="text-center">Active</th>
        <th>Added</th>
        <th>Updated</th>
        <th class="text-right">Action</th>
      </thead>

      <tbody>
        <tr *ngFor="let catalog of catalogs; index as i">
          <td class="text-center">{{ i + 1 }}</td>
          <td>
            <div class="img-holder">
              <img [src]="catalog.icon" width="100%" alt="" />
            </div>
          </td>
          <td class="bold">{{ catalog.name }}</td>
          <td>{{ catalog.description }}</td>
          <td class="text-center">{{ 1 }}</td>
          <td class="text-center">
            <i class="bi bi-fire red" *ngIf="catalog.active"></i>
            <i class="bi bi-x-lg red" *ngIf="!catalog.active"></i>
          </td>
          <td>{{ catalog.createdAt | date }}</td>
          <td>{{ catalog.updatedAt | date }}</td>
          <td class="text-right">
            <button class="btn-icon" mat-ripple>
              <i class="bi bi-pen"></i>
            </button>
            <button class="btn-icon" mat-ripple>
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-loader
      class="text-center my-3 d-block"
      [size]="34"
      [includeBackdrop]="false"
      *ngIf="loadingCatalogs"
    ></app-loader>
    <mat-paginator
      *ngIf="!loadingCatalogs"
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
