<header class="dialog-header">
  <div class="dialog-title">Create Product</div>
  <button mat-icon-button mat-dialog-close><i class="bi bi-x"></i></button>
</header>
<app-loader
  [size]="34"
  [includeBackdrop]="true"
  *ngIf="addingProduct"
></app-loader>
<div class="dialog-body">
  <form [formGroup]="pForm" (ngSubmit)="createProduct()">
    <div class="form-group">
      <label for="">Images</label>
      <app-file-selector
        [multiple]="true"
        (onImageSelect)="handleSelectedFiles($event)"
      ></app-file-selector>
    </div>

    <div class="form-group">
      <label for="">
        <span>Name</span>
        <div
          class="alert"
          @SlideIn
          *ngIf="name.invalid && (name.dirty || name.touched)"
        >
          <div *ngIf="name.errors?.['required']">Name is required</div>
        </div>
      </label>
      <input
        type="text"
        class="form-control"
        name="name"
        required
        autocomplete="off"
        formControlName="name"
        placeholder="Enter name of the product"
      />
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea
        type="text"
        rows="3"
        class="form-control"
        name="description"
        autocomplete="off"
        formControlName="description"
        placeholder="Enter more details about the product"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="">Additional Attributes</label>
      <ng-container formArrayName="addAttributes">
        <ng-container *ngFor="let attr of attributes.controls; index as i">
          <div class="row attr-row" [formGroupName]="i">
            <input
              type="text"
              placeholder="Enter attribute text"
              formControlName="text"
              class="form-control"
            />
            <input
              type="text"
              placeholder="Enter attribute value"
              formControlName="value"
              class="form-control"
            />
            <button mat-stroked-button (click)="removeAttr(i)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </ng-container>
      </ng-container>
      <button mat-stroked-button (click)="addMoreCharges()">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>

    <div class="form-group">
      <mat-slide-toggle name="active" formControlName="active"
        >Active</mat-slide-toggle
      >
    </div>
    <div class="dialog-footer">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
