<nav class="navbar">
  <ul class="navbar-items">
    <div class="brand">Inventory Light</div>
    <li routerLink="dashboard" routerLinkActive="active">
      <i class="bi bi-speedometer"></i>
      Dashboard
    </li>
    <li routerLink="catalog" routerLinkActive="active">
      <i class="bi bi-collection"></i>
      Catalog
    </li>
    <li routerLink="product" routerLinkActive="active">
      <i class="bi bi-box"></i>
      Product
    </li>
    <li routerLink="stock" routerLinkActive="active">
      <i class="bi bi-shop-window"></i>
      Stock
    </li>
    <li routerLink="vendor" routerLinkActive="active">
      <i class="bi bi-people"></i>
      Vendors
    </li>
    <li routerLink="order" routerLinkActive="active">
      <i class="bi bi-boxes"></i>
      Orders
    </li>
    <li routerLink="report" routerLinkActive="active">
      <i class="bi bi-file"></i>
      Reports
    </li>
  </ul>

  <ul class="navbar-items">
    <li>
      <i class="bi bi-person-circle"></i>
      User
    </li>
    <li>
      <i class="bi bi-box-arrow-in-right"></i>
      Login
    </li>
    <li>
      <i class="bi bi-box-arrow-in-left"></i>
      Login Out
    </li>
  </ul>
</nav>
