<header class="dialog-header">
  <div class="dialog-title">Create Catalog</div>
  <button mat-icon-button mat-dialog-close><i class="bi bi-x"></i></button>
</header>
<app-loader
  [size]="34"
  [includeBackdrop]="true"
  *ngIf="addingCatalog"
></app-loader>
<div [formGroup]="cForm" class="dialog-body">
  <form [formGroup]="cForm" (ngSubmit)="addCatalog()">
    <div class="form-group">
      <label for="">Icon</label>
      <app-file-selector
        (onImageSelect)="handleImageSelect($event)"
      ></app-file-selector>
    </div>
    <div class="form-group">
      <label for="">
        <span>Name</span>
        <div
          class="alert"
          @SlideIn
          *ngIf="name.invalid && (name.dirty || name.touched)"
        >
          <div *ngIf="name.errors?.['required']">Name is required</div>
        </div>
      </label>
      <input
        type="text"
        class="form-control"
        name="name"
        required
        autocomplete="off"
        formControlName="name"
        placeholder="Enter name of the catalog"
      />
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea
        type="text"
        rows="3"
        class="form-control"
        name="description"
        autocomplete="off"
        formControlName="description"
        placeholder="Enter more details abou the catalog"
      ></textarea>
    </div>

    <div class="dialog-footer">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
