<header class="dialog-header">
  <div class="dialog-title">Create Catalog</div>
  <button class="btn btn-light btn-sm" mat-dialog-close>
    <i class="bi bi-x"></i>
  </button>
</header>
<app-loader
  [size]="34"
  [includeBackdrop]="true"
  *ngIf="addingCatalog"
></app-loader>
<div [formGroup]="cForm" class="dialog-body">
  <form [formGroup]="cForm" (ngSubmit)="addCatalog()">
    <div class="form-group">
      <label for="">Icon</label>
      <app-file-selector
        (onImageSelect)="handleImageSelect($event)"
      ></app-file-selector>
    </div>
    <div class="form-group">
      <label for="">
        <span>Name</span>
        <div
          class="alert"
          @SlideIn
          *ngIf="name.invalid && (name.dirty || name.touched)"
        >
          <div *ngIf="name.errors?.['required']">Name is required</div>
        </div>
      </label>
      <input
        type="text"
        class="form-control"
        name="name"
        required
        autocomplete="off"
        formControlName="name"
        placeholder="Enter name of the catalog"
      />
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea
        type="text"
        rows="3"
        class="form-control"
        name="description"
        autocomplete="off"
        formControlName="description"
        placeholder="Enter more details abou the catalog"
      ></textarea>
    </div>

    <div class="dialog-footer mt-4 pt-3 border-top">
      <button class="btn btn-outline-secondary" mat-dialog-close>Close</button>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
