<div class="context-menu">
  <div class="passive">
    <header class="page-header">
      <h2>Stock</h2>
    </header>
    <div class="route-search-box">
      <i class="bi bi-search"></i>
      <input
        type="search"
        autocomplete="off"
        name="search"
        placeholder="Search Products..."
      />
    </div>
  </div>

  <div class="action">
    <button class="btn btn-success" (click)="openAddProduct()">
      <i class="bi bi-plus-lg"></i>
      Add Stock
    </button>
    <button class="btn btn-primary me-2" (click)="openUpdateInventory()">
      <i class="bi bi-bag-plus-fill"></i>
      Update Inventory
    </button>
    <button class="btn btn-warning" (click)="openCreateOrder()">
      <i class="bi bi-bag-plus-fill"></i>
      Create Order
    </button>
  </div>
</div>

<div class="main-content">
  <div class="table-container">
    <table matSort (matSortChange)="sortData($event)">
      <thead>
        <th class="text-center" style="width: 3%">#</th>
        <th>SKU</th>
        <th mat-sort-header="name" style="width: 15%">Name</th>
        <th>Catalog</th>
        <th>Vendor</th>
        <th>Batch</th>
        <th>Sale Price</th>
        <th>Actual Price</th>
        <th class="text-left">Margin</th>
        <th class="text-center">Stock</th>
        <th class="text-center">Active</th>
        <th class="text-center">Added</th>
        <th class="text-center">Updated</th>
        <th class="text-right">Action</th>
      </thead>

      <tbody>
        <tr *ngFor="let inventory of sortedProducts">
          <td class="text-center">
            <input type="checkbox" name="" id="" />
          </td>
          <td>#{{ inventory?.product?.slug.split("-")[0].toUpperCase() }}</td>
          <td class="bold">{{ inventory?.product.name | truncate : 40 }}</td>
          <td>{{ inventory?.catalog?.name }}</td>
          <td>
            {{ inventory?.vendor?.name }}
          </td>
          <td>
            {{ inventory?.batch?.name }}
          </td>
          <td>
            {{ inventory?.price?.salePrice | currency : "₹" }}
          </td>
          <td>
            {{ inventory?.price?.costPrice | currency : "₹" }}
          </td>
          <td class="text-left bold">
            <span
              [ngClass]="
                inventory?.price?.salePrice - inventory?.price?.costPrice > 0
                  ? 'green'
                  : 'red'
              "
            >
              {{
                inventory?.price?.salePrice - inventory?.price?.costPrice
                  | currency : "₹"
              }}
            </span>
            <i
              class="bi bi-arrow-up green"
              *ngIf="
                inventory?.price?.salePrice - inventory?.price?.costPrice > 0
              "
            ></i>
            <i
              class="bi bi-arrow-down red"
              *ngIf="
                inventory?.price?.salePrice - inventory?.price?.costPrice < 0
              "
            ></i>
          </td>
          <td class="bold text-center">
            {{ inventory.stock?.current || "-" }}/{{
              inventory.stock?.base || "-"
            }}
          </td>
          <td class="text-center">
            <i class="bi bi-fire red" *ngIf="inventory?.product.isActive"></i>
            <i class="bi bi-x-lg red" *ngIf="!inventory?.product.isActive"></i>
          </td>
          <td class="text-center">{{ inventory?.product.createdAt | date }}</td>
          <td class="text-center">{{ inventory?.product.updatedAt | date }}</td>
          <td class="text-right">
            <button
              class="btn btn-sm"
              (click)="openSidePanel(inventory.product.id)"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-loader
      class="text-center my-3 d-block"
      [size]="34"
      [includeBackdrop]="false"
      *ngIf="loadingProduct"
    ></app-loader>
  </div>
</div>
